# R
.Rhistory
.RData*
.Ruserdata
.Rproj.user/

#tex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot

# Large/raw datasets

feeds/raw/*
feeds/filtered/*
feeds/extract/*
!feeds/.gitkeep
!feeds/raw/.gitkeep
!feeds/extract/.gitkeep
!feeds/filtered/.gitkeep
osmdata/*
!osmdata/.gitkeep
/appendix/figures/*
/appendix/reports/*
geodata/zhv/*
geodata/base_data/*
geodata/poi.gpkg
geodata/grids.gpkg
geodata/Bedienungsqualität.gpkg
geodata/zentrale_orte_areas.gpkg
geodata/pois.gpkg
geodata/zentrale_orte_bands.gpkg
GIS/raster/
geodata/gtfs_shapes.gpkg
code/temp/*
code/old_stuff/
Literatur/obs_vault/


# Optional generated outputs
output/*.*
output/daily_eq/*
output/daily_eq/full/*
output/hourly_eq/*
output/hourly_eq/full/*
output/hourmean_eq/*
output/hourmean_eq/full/*
output/i3_shortest_hourly/*
output/i3_shortest_hourly/full/*
output/i3_ttm_hourly/*
output/kderasters/*
output/total_eq/*                                                                         
output/total_eq/full/*
!*/.gitkeep
!*/*/.gitkeep
results/*
!results/.gitkeep
r5core_current/
r5core_2026-05-18/
r5core_2026-05-18_large/
r5core_fares/


# GIS temporary files
*.qgz~
*.gpkg-wal
*.gpkg-shm
*.qmd


# OS junk
.DS_Store
Thumbs.db
geodata/dwellings.gpkg
geodata/zentrale_orte_area.gpkg
/r5core_2026-05-21_osmonly_nrw
/Literatur_noup
