# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

#tex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

# Large/raw datasets
feeds/
osmdata/
geodata/zhv/
geodata/poi.gpkg

# Optional generated outputs
output/
results/

# GIS temporary files
*.qgz~
*.gpkg-wal
*.gpkg-shm

# OS junk
.DS_Store
Thumbs.db
