# R
.Rhistory
.RData*
.Ruserdata
.Rproj.user/

#tex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc


# Large/raw datasets
feeds/
osmdata/
appendix/
geodata/zhv/
geodata/base_data/
geodata/poi.gpkg
geodata/grids.gpkg
geodata/Bedienungsqualität.gpkg
GIS/raster/
geodata/gtfs_shapes.gpkg
/code/temp
/Literatur/obs_vault/


# Optional generated outputs
output/
results/
r5core_current/
r5core_2026-05-18/

# GIS temporary files
*.qgz~
*.gpkg-wal
*.gpkg-shm


# OS junk
.DS_Store
Thumbs.db
